.form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.form-control {
  font-family: 'Manrope', sans-serif;
  padding: 5px 0;
  margin-bottom: 5px;
}
.btn {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  transition: 0.3s;
  margin-bottom: 15px;
}
.btn:hover {
  background-color: gray;
}
